body {
    margin: 20px;
    padding: 0;
}

h2{
    color: rgba(113,34,150,1);
    font: normal normal bold 26px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h3{
    color: rgb(164, 107, 191);
    font: normal normal bold 20px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h3{
    color: rgb(164, 107, 191);
    font: normal normal bold 18px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

label{
    color: rgb(52, 6, 52);
    font: normal normal bold 16px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

select{
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: rgb(52, 6, 52);
}

.text-css {
    text-align: center;
    margin-bottom: 30px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal normal bold 36px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgba(113,34,150,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0 20px rgba(255,255,255, 0.5) ;
}

input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(210,160,232,1);
    border-top: 1px solid rgba(210,160,232,1);
    border-radius: 50px;
    height: 35px;
    color: rgba(210,160,232,1);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

a {
    color: rgba(210,160,232,1);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    text-decoration: none;
}

.ast{
    color: rgb(255, 255, 255);
    background: rgba(210,160,232,1);
    width: 200px;
    border-radius: 50px;
    height: 40px;
    margin: 10px;
}
.a-css {
    margin: 0 auto;
    background: rgb(214, 204, 224);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 160px;
    padding: 20px;
    overflow: hidden;
    border: 1px solid rgba(185,117,216,1);
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font: normal 16px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    letter-spacing: 1px;
}

.container {
    width: 300px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

table {
    margin-top: 30px;
    width: 600px; /*Ширина таблицы*/
    margin-bottom: 18px; /*Отступ снизу от таблицы*/
    padding: 0; /*Отступы внутри таблицы*/
    font-size: 13px; /*Размер шрифта*/
    border: 1px solid #dddddd; /*Граница таблицы*/
    border-spacing: 0; /*Отступы между границами ячеек*/
    border-collapse: separate; /*Границы ячеек не склеиваются*/
    -webkit-border-radius: 5px; /*Радиус скругления углов у таблицы Safari, Chrome*/
    -moz-border-radius: 5px; /*Радиус скругления углов у таблицы Mozilla*/
    border-radius: 5px; /*Радиус скругления углов у таблицы*/
    color: #666666; /*Цвет текста в таблице*/
    font-family: Arial; /*Семейство шрифтов*/
}

table th, table td {
    padding: 10px 10px 9px; /*Отступы внутри ячеек*/
    line-height: 18px; /*Межстрочный интервал*/
    text-align: left; /*Выравнивание текста по левому краю*/
}

table th {
    padding-top: 9px; /*Отступы внутри ячеек*/
    font-weight: bold; /*Установка жирного начертания шрифта*/
    vertical-align: middle; /*Выравнивание по вертикали. Текст находится по середине*/
    color: black; /*Черный цвет в ячейках заголовков таблицы*/
}

table td {
    vertical-align: top; /*Выравнивание содержимого ячейки по верхнему краю*/
    border-top: 1px solid #ddd; /*Верхняя граница ячейки*/
}

table th+th,table td+td,table th+td {
    border-left: 1px solid #ddd; /*Стиль для левой границы между двумя ячейками*/
}

table thead tr:first-child th:first-child, /*Первая строка первая ячейка в заголовке таблицы*/
table tbody tr:first-child td:first-child /*Первая строка первая ячейка в теле таблицы*/{
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

table thead tr:first-child th:last-child, /*Первая строка последняя ячейка в заголовке таблицы*/
table tbody tr:first-child td:last-child /*Первая строка последняя ячейка в теле таблицы*/ {
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

table tbody tr:last-child td:first-child  /*Последняя строка первая ячейка в теле таблицы*/ {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

table tbody tr:last-child td:last-child  /*Последняя строка последняя ячейка в теле таблицы*/{
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

table tr:hover {
    background-color: #f2f2f2; /*Цвет строки при наведении курсора мыши*/
}

.username{
    color: rgba(113,34,150,1);
    font: normal normal bold 30px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.but{
    color: rgb(255, 255, 255);
    background: rgba(113,34,150,1);
    width: 100px;
    border-radius:20px;
    height: 40px;
    margin: 10px;
}